* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
background-color: #5c6bf7;
width: 100%;
height: 100vh;
}

.container .container_title_link
{
    display: flex;
    padding: 22px;
    border-bottom: 2px solid white;
}

.container .container_title_link a{
color: white;
text-decoration: none;

}

.container .container_temp {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 65vh;
gap: 12px;
}

.container .container_temp i{
font-size: 30px; 
color:white
}

.container .container_temp p{
font-size: 20px; 
color:white
}
.container .container_other {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
border-top: 2px solid white;
}

.container .container_other .box {
width: 50%;
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.container .container_other .box:nth-child(1) {
width: 50%;
height: 20vh;
border-right: 2px solid white;
}

.container .container_other .box p {
color:white
}